.glass-btn {
  background: linear-gradient(
    145deg,
    var(--light-gray-04),
    var(--light-gray-01)
  );
  color: var(--black);
  font-family: SFPRO-REGULAR;
  border-radius: 30px;
  transition: all var(--transition6);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid var(--light-gray-04);
  box-shadow:
    inset 0px 1px 1px rgba(255, 255, 255, 0.8),
    0px 10px 30px rgba(0, 0, 0, 0.1),
    0px 0px 20px rgba(255, 255, 255, 0.1);
}

.glass-btn:hover {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    inset 0px 1px 2px rgba(255, 255, 255, 0.9),
    0px 15px 40px rgba(0, 0, 0, 0.15),
    0px 0px 30px rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

/* BLUE BTN */

.blue-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border-radius: 40px;
  background: var(--blue);
  color: var(--white);
  font-family: SFPRO-BOLD;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 20px var(--blue-04);
  margin-left: 5px;
  transition: all var(--transition8);
  transition-delay: 0;
}

.blue-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px var(--blue-06);
}

/* LANG */

.lang-dropdown {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 1000;
  transition: all var(--transition8);
}

.lang-dropdown:hover {
  transition-delay: 0;
}

.lang-menu {
  position: absolute;
  top: 115%;
  right: 0;
  width: max-content;
  min-width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all var(--transition6);
  background: var(--light-gray-05);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid var(--light-gray-05);
  box-shadow: 0 10px 30px var(--dark-gray-01);
}

#lang-toggle:checked ~ .lang-menu {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.lang-menu a {
  padding: 8px 20px;
  text-decoration: none;
  color: var(--black);
  font-family: SFPRO-REGULAR;
  font-size: 0.95rem;
  transition: all var(--transition2);
}

.lang-menu a:hover {
  background: var(--dark-gray-01);
  border-radius: 12px;
}

.lang-menu a.active {
  font-family: SFPRO-BOLD, SFPRO-REGULAR;
  opacity: 0.7;
}
