body {
  --white: #e5e5ea;
  --light-gray: #d9d9d9;
  --mid-gray: #8e8e93;
  --dark-gray: #3a3a3c;
  --black: #1c1c1e;
  --blue: #0267ff;
  --purple: #9933ff;
  --red: #ff3b30;
  --yellow: #ffcc00;
}
