@keyframes show {
  from {
    filter: saturate(0) blur(5px);
    opacity: 0;
    transform: scale(0.9);
    translate: 0 3rem;
  }
  to {
    filter: none;
    opacity: 1;
    transform: scale(1);
    translate: 0 0;
  }
}
@keyframes show4 {
  from {
    filter: saturate(0) blur(5px);
    opacity: 0;
    transform: scale(0.9) translate(-50%, -50%);
    translate: 0 3rem;
  }
  to {
    filter: none;
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    translate: 0 0;
  }
}

@keyframes show-text {
  0% {
    filter: saturate(0) blur(5px);
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }
  50% {
    filter: none;
    opacity: 1;
    scale: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    filter: none;
    opacity: 1;
    scale: 1;
    top: 16.6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes start {
  0% {
    opacity: 1;

  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes show2 {
  from {
    filter: saturate(0) blur(5px);
    opacity: 0;
    scale: 0.9;
    translate: -3rem 3rem;
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}

@keyframes show3 {
  from {
    filter: saturate(0) blur(5px);
    opacity: 0;
    scale: 0.9;
    translate: 0rem 5rem;
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}
