* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: SFPRO-REGULAR, arial;
}

@font-face {
  font-family: "SFPRO-REGULAR";
  src: url("./fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SFPRO-BOLD";
  src: url("./fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pixel";
  src: url("./fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Shadow";
  src: url("./fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Freedoka";
  src: url("./fonts/Fredoka-VariableFont_wdth.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
